

.header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#spaceSpan {
    margin-right: 10px;
}

.rotate {
    background-color: #ff7f7f;
    height: 35px;
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    to {
      transform: rotate3d(0, 1, 0, 359deg);
    }
  }
